body {
  background-color: #e5dec5;
  font-family: "Roboto Mono", monospace;
}

.courses,
.activity,
.method,
.exercices {
  padding: 1em;
  border-radius: 0.5em;
  margin: 1em;
}

.courses {
  background-color: #a3cfc4;
}
.activity {
  background-color: #f7d270;
}

.method {
  background-color: #d3a4f9;
}

.exercices {
  background-color: #a4c6f9;
}

.title {
  font-size: 4em;
  text-align: center;
}

.chapter {
  text-decoration: none;
}
